{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Welcome
{% endblock %}

{% block content %}

	<h3>Thank you for your interest in participating in the experiment!</h3>
	<h5>There are nine parts to this experiment:</h5>
	
    <div class="pointer" style="z-index: 10;"><h4>Consent Form</h4></div>
    <div class="pointer" style="z-index: 9;"><h4>Survey</h4></div>
    <div class="pointer" style="z-index: 8;"><h4>Instructions</h4></div>
    <div class="pointer" style="z-index: 7;"><h4>Take Tour</h4></div>
    <div class="pointer" style="z-index: 6;"><h4>Trial Runs</h4></div>
    <div class="pointer" style="z-index: 5;"><h4>Take Quiz</h4></div>
    <div class="pointer" style="z-index: 4;"><h4>Trial Runs</h4></div>
    <div class="pointer" style="z-index: 3;"><h4>Experiment</h4></div>
    <div class="pointer" style="z-index: 2;"><h4>Complete!</h4></div>

	<p>
		We will first ask that you complete a voluntary consent form before you proceed with the study.
	   Please click <strong>next</strong> to view the consent form in order to participate in the study.
	</p>
	
	
    <br>
{% next_button %}

{% endblock %}

{% block styles %}
<style type="text/css">
    h4 {
        color: white;
        margin-left: 30px;   
    }
    .pointer {
        display: inline-block; 
        /*width: 200px;*/ 
        height: 40px; 
        position: relative; 
        background: #3070a7; 
        margin-bottom: 5px;
        } 
        
    .pointer:after { 
        content: ""; 
        position: absolute; 
        left: 0; 
        bottom: 0; 
        width: 0; 
        height: 0; 
        border-left: 20px solid white; 
        border-top: 20px solid transparent; 
        border-bottom: 20px solid transparent; 
        }
         
    .pointer:before { 
        content: ""; 
        position: absolute; 
        right: -20px; 
        bottom: 0; 
        width: 0; 
        height: 0; 
        border-left: 20px solid #3070a7; 
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent; 
        }

</style>
 {% endblock %}