{% extends "welcome_consent/WelcomePage.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Practice Rounds
{% endblock %}

{% block contentH3 %}
{% endblock %}

{% block contentH5 %}
You will now have the opportunity to practice using the platform and making participation decisions for {{Constants.num_rounds}} rounds.
You will be interacting with computer-controlled avatars during the practice rounds.
At the end of each round, you will have the option to play again or skip to the main rounds with real participants.
{% endblock %}

{% block contentP %}
Please click <strong>Next</strong> to continue to the practice rounds.
{% endblock %}

{% block onpage %}practice{% endblock %}
