{% extends "welcome_consent/WelcomePage.html" %}
{% load staticfiles otree %}

{% block title %}
    Practice Rounds
{% endblock %}

{% block contentH3 %}
{% endblock %}

{% block contentH5 %}
You will now have the opportunity to practice discussing and making decisions on whether or not to participate for three rounds.
You will be interacting with computer-controlled avatars during the practice rounds.
At the end of the first two rounds you will have the option to play again or skip to the paid rounds with real participants.
{% endblock %}

{% block contentP %}
Please click <strong>Next</strong> to go to the practice rounds.
{% endblock %}

{% block onpage %}practice{% endblock %}