#playerList .list-group{
	float: left;
	margin-top: 10px;
}

#playerList a:active{
    background-color: #ededed;
}

#playerList .list-group-item{
    height: 55px;
    padding-left: 5px;
}

#playerList{
    padding: 0;
}

#playerList .media-heading{
    font-size: 10pt;
    padding: 0;
    margin: 0;
}

#playerList .media-body{
    font-size: 7pt;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

#playerList .media{
    padding: 0;
    margin: 0;
}

#friendWall .list-group-item{
    height: 35px;
}

#friendWall .media-heading{
    font-size: 10pt;
    padding: 0;
    margin: 0;
}

#friendWall .media-body{
    font-size: 7pt;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

#friendWall img{
    width: 25px;
}

#friendWall .list-group{

	margin-top: 0px;
}

#friendWall .player-button{
    padding: 3px;
    background-color: #eeeeee;
    border: none;
}

.float-left{
    float: left;
    display: block;
    min-width: 70px;
    max-width: 150px;
}

#playerList .message-icon{
    display: inline-block;
    text-align: center;
    margin-top: 15px;
    vertical-align: top;
    border: 1px solid #ddd;
    border-radius: 12px;
    height: 25px;
    width: 25px;
    padding:0;
}

#playerList a{
    display: inline-block;
}