{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load staticfiles %}

{% block app_styles %}
<style>
    h4{
        margin-top: 2em; 
        font-weight:bold;   
    }
</style>
{% endblock %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}

<h4>Welcome!</h4>

<p>
This is an experiment to study how individuals and groups make decisions. 
Your earnings in the experiment will depend on your own decisions, the decisions of others, and chance. 
If you follow the instructions carefully, you will earn a reward at the end of the experiment. 
During the experiment, your earnings will be accounted by <strong>experimental points</strong>. 
At the end of the experiment, the points will be used to determine your final payment.
</p>

<h4>General Instructions:</h4>

<p>
The experiment consists of you and other people independently making the decision on whether to participate 
in a group event such as a social event (e.g., party), team sports (e.g., volleyball, football) or a political 
event (e.g., march, rally). Everyone, including you, will be asked to make a decision to <strong>participate</strong> 
or <strong>not participate</strong> in the event. 
Your earnings depend on your decision and the participation decisions of others.
</p>

<p>
There are <strong>48 rounds</strong> in which you will make this decision. 
Each round is independent from the other: whatever happens in a round does not affect the next round.
</p>


<h4>Threshold:</h4>

<p>
At the beginning of each round, you will be assigned to a new group that consists of <strong>5 people 
total (including yourself)</strong>. Each player, including you, will be assigned a <strong>threshold, T</strong>. 
This threshold, T, represents the number of other people that you need in order to make it worthwhile for you to 
participate in the group event (see earnings in a round described below). 
Each player will be assigned a threshold either low T=1 or high T=3. For example, if your threshold in a round is <strong>T=1</strong>, 
it means that you need at least <strong>1 other person</strong> in order to make it worthwhile to participate in the group event. 
Likewise, if the threshold assigned to you in a round is <strong>T=3</strong>, it means that you need at least <strong>3 other people</strong> 
to participate in the event.
</p>

<p> <strong>Earnings in a round:</strong>

<p>Your earnings in a round depend on your threshold, your participation decision and the decisions of other players:</p>

<p> <strong>*T=1:</strong></p>

<p>
If you <strong>participate</strong> and at least <strong>1 other player</strong> participates, 
then your earnings in the round will be <strong>150 ECU</strong>.
</p>

<p>
If you <strong>participate</strong> and <strong>no one else</strong> participates, 
then your earnings in the round will be <strong>0 ECU</strong>.
</p>

<p>
If you do <strong>not participate</strong>, your earnings in the round will be 
<strong>50 ECU</strong> regardless of what others do.
</p>


<p> <strong>*T=3:</strong></p>

<p>
If you <strong>participate</strong> and at least <strong>3 other players</strong> participate, 
then your earnings in the round will be <strong>150 ECU</strong>.
</p>

<p>
If you <strong>participate</strong> and less than <strong>3 other players</strong> participate, 
then your earnings in the round will be <strong>0 ECU</strong>.
</p>

<p> 
If you do <strong>not participate</strong>, your earnings in the round will be <strong>50 ECU</strong> 
regardless of what others do.
</p>


<p> 
<strong>Experimental Earnings:</strong> After completing all the rounds, 
we will choose a random round and your earnings will be based on the result of that round. 
1 experimental point is equivalent to 0.03 US dollars. You will be paid $3.00 for completing all the rounds, 
plus a payment based on the outcome of the randomly chosen round. 
Thus, at the end of the experiment your total earnings, including the $3 completion fee, could equal either $3, $4.50, or $7.50.
</p>



<h4>Avatar:</h4>

<p>
In each round, you will be assigned a randomly chosen identity (or avatar). 
The screen below shows an example of the avatar (Elephant) you will see in a round.</p>

<div id="playerLabel" class="linking-button" style="height: 170px; border: 1px #ddd solid; border-radius: 4px; max-width: 170px">
    <br>
    <img src={% static "avatar/Elephant-icon.png" %} alt="Error: No Avatar Available" style="display: block; border-bottom: black 1px solid; margin: auto; width:90px">
    <p style="text-align: left; font-size: 13pt; margin: 0; margin-top: 5px; margin-left: 15px;">Elephant</p>	        	   
	<p style="text-align: left; font-size: 9pt; margin: 0; margin-top: 0px; margin-left: 15px;"><strong>Your Threshold: 3</strong> </p>
</div>

    <br>



<p>
You will also see your threshold, T=3 in this example above, and the summary of the possible earnings. 
Note that, in each round, everyone will be assigned a new avatar and a new threshold.
</p>



<g:if test="${sts.knowledgeCond== 'local'}">


    <h4>Your Network:</h4>

    <p> 
        <strong>Your network</strong> represents how you are connected with the rest of the people in your group. 
        In each round, you will be connected to some or all of the other people in your group. 
        They will be called <strong>Your friends</strong>. You will see the thresholds of your friends. 
        You will also see a list of all the people (including you) in <strong>Your group</strong>.
    </p>

    <p>
        All of the five people in your group will be connected to some or all of the other people in the group, 
        and can view the thresholds of their friends. You cannot observe the connections between your friends or 
        other people in your group.
    </p>

    <p> 
        The screen below shows an example of your network in a round; the gray line between your avatar and another 
        avatar means that you are friends with that player. You will also see the list of your friends, and a list of all 
        the players in your group. Note that you will be assigned to a new group in each round. The shape of your network 
        may or may not be the same in each round.
    </p>

<br>
    <img src="https://experiment.sandia.gov/images/NetworkView-local-V7.png" width="500"/>


</g:if>
<g:else>

    <h4>The Network:</h4>

    <p> 
        <strong>The network</strong> represents how people are connected in your group. 
        In each round, you will be connected to some or all of the other people in your group. 
        They will be called <strong>Your friends</strong>. 
        You will see the thresholds of your friends. 
        You will also see a list of all of the people (including you) in <strong>Your group</strong>.
    </p>

    <p> 
        All of the five people in your group will be connected to some or all of the other people in the group, 
        and can view the thresholds of their friends. 
        You (and everyone else) can observe the connections between people in your group in the network box.
    </p>

    <p> 
        The screen below shows an example of the network you will see in a round; 
        the gray line between two avatars means that they are friends. 
        You will also see the list of your friends, and a list of all the players in your group. 
        Note that you will be assigned to a new group in each round. 
        The shape of the network may or may not be the same in each round.
    </p>

<br>
    <img src="https://experiment.sandia.gov/images/NetworkView-global-V7.png" width="500"/>


</g:else>


<g:if test="${sts.messagingCond == 'nocomm'}">


    <h4>Participation Decision:</h4>

    <p>The screen below shows the decision making area. In this part, each person in the group must decide whether to participate or not participate in the group event for this round. After making your participation decision for the round, a new round will start.

    <p> After you play all the rounds, at the end of the experiment, we will choose a random round and you will be paid based on the results of that round. Because each round has the same chance of being chosen for payment, you should pay careful attention to each round.


     <br>
     <img src="https://experiment.sandia.gov/images/DecisionView-v4.png" width="400"/>
     
     
     <h4>Summary of the Instructions:</h4>

<p>- There are 32 rounds in the experiment.

<p>- Each round is independent from the other: whatever happens in a round does not affect the next round.

<p>- In each round, you will assigned to a different group of 5 people (including you).

<p>- In each round, you will be assigned a new avatar and a new threshold.

<p>- Your earnings in a round depend on your threshold, your participation decision and the decisions of others in your group.

<p>- In the decision part, you must make your participation decision for the round. Once you submit your decision, a new round will start.

<p>- You will be paid for ONE randomly chosen round. You should pay careful attention to each round.



</g:if>
<g:else>
    <h4>Messaging:</h4>
%{--    <p>As mentioned above, your earnings depend on your decision to participate and others’ decisions to participate.  Before making your participation decision, you will be given an opportunity to send messages to each friend individually or to all of your friends to reveal your intention to participate or not in the group event. Your friends will --}%
    <p>As mentioned above, your earnings depend on your decision to participate and others’ decisions to participate.  Before making the participation decision, each player will be given an opportunity to send messages to friends to reveal his/her intention to participate or not in the group event.

    <p> You have the following two messaging options to send to each one of your friends: 1)"I will participate", 2)"I will not participate".  You can send a message to each friend individually or to all of your friends. Once you choose a friend and a message, click "Send Message" to send it. You will receive a confirmation each time you send a message to a friend.

    <p>Each person can send a message only to his/her own friends. No one can see other people’s messages.

    <p> Once you are done with sending messages, you can click "Continue" to proceed to the decision part. You will view the messages sent to you by your friends in the decision part. Make sure that you send all of the messages you want before clicking "Continue" as you will proceed to the decision part and cannot get back to the messaging part.</p>
%{--<p> After you send messages to each one of your friends, you will click "Continue" to view the messages sent to you by your friends. In order to proceed to the decision part, everyone in the group must make their messaging decision and click the "Continue" button shown in the figure below.--}%

    <img src="https://experiment.sandia.gov/images/MessageView-v4.png" width="500"/>

    <h4>Participation Decision:</h4>

    <p>The screen below shows the decision making area. In this part, each person can observe the messages sent to him/her and each person in the group then must decide whether to participate or not participate in the group event for this round. After making your participation decision for the round, a new round will start.

    <p> After you play all the rounds, at the end of the experiment, we will choose a random round and you will be paid based on the results of that round. Because each round has the same chance of being chosen for payment, you should pay careful attention to each round.
    <br>


    <img src="https://experiment.sandia.gov/images/DecisionView-v4.png" width="400"/>
    
    
    <h4>Summary of the Instructions:</h4>

<p>- There are 32 rounds in the experiment.

<p>- Each round is independent from the other: whatever happens in a round does not affect the next round.

<p>- In each round, you will assigned to a different group of 5 people (including you).

<p>- In each round, you will be assigned a new avatar and a new threshold.

<p>- Your earnings in a round depend on your threshold, your participation decision and the decisions of others in your group.

<p>- You may send individual messages to each of your friends to reveal your intention to participate or not, and your friends can do the same.

<p>- In the decision part, you can view the messages sent to you by your friends, and you must make your participation decision for the round. Once you submit your decision, a new round will start.

<p>- You will be paid for ONE randomly chosen round. You should pay careful attention to each round.

</g:else>





{% next_button %}

{% endblock %}
