{% extends "welcome_consent/WelcomePage.html" %}
{% load staticfiles otree_tags %}

{% block app_styles %}
<style>
    #instructions-div h4{
        margin-left: 0;
        margin-top: 2em; 
        font-weight:bold; 
        color: black;  
    }
</style>
{% endblock %}

{% block onpage %}instructions{% endblock %}

{% block contentH3 %}
{% endblock %}

{% block contentH5 %}
Below you will see the instructions followed by a quiz that will test your understanding of the instructions. 
If you read the instructions carefully, you can earn a considerable amount of money in the experiment. 
It is therefore very important that you read the instructions carefully and make sure you understand the game.
{% endblock %}

{% block contentP %}
{% endblock %}

{% block title %}
    Instructions
{% endblock %}

{% block page_specific %}
<div id="instructions-div">
{% include "instructions/main.html" %}
</div>

{% endblock %}


