{% extends "welcome_consent/WelcomePage.html" %}
{% load staticfiles otree %}

{% block app_styles %}
<style>
    #instructions-div h4{
        margin-left: 0;
        margin-top: 2em; 
        font-weight:bold; 
        color: black;  
    }
</style>
{% endblock %}

{% block onpage %}instructions{% endblock %}

{% block contentH3 %}
{% endblock %}

{% block contentH5 %}
Below, you will see the instructions followed by a demo of the experiment interface.
Please read the instructions carefully and make sure you understand your options during the demo.
{% endblock %}

{% block contentP %}
{% endblock %}

{% block title %}
    Instructions
{% endblock %}

{% block page_specific %}
<div id="instructions-div">
{% include "instructions/main.html" %}
</div>

{% endblock %}


