{% load staticfiles otree_tags %}
{% load staticfiles %}

<h4>Your Network:</h4>

    <p> 
        <strong>Your network</strong> represents how you are connected with the rest of the people in your group. 
	In each round, you will be connected to some or all of the other people in your group. 
	They will be called <strong>Your friends</strong>. 
	You will see the thresholds of your friends on your page. 
	You can also see the thresholds of friends of your friends on their pages. 
	You will also see a list of all the people (including you) in <strong>Your group</strong>.
    </p>

    <p>
        All of the five people in your group will be connected to some or all of the other people in the group, and can view the thresholds of their friends and their friends of friends. 
	You can observe your connections in your network box. 
	You cannot observe the connections between your friends or other players in this box.
    </p>

    <p> 
        The screen below shows an example of your network in a round; the gray line between your avatar and another avatar means that you are friends with that player. 
	You will also see the list of your friends, and a list of all the players in your group. 
	Note that you will be assigned to a new group in each round. 
	The shape of your network may or may not be the same in each round.
    </p>

<br>
    <img src= {% static "instructions/localNetwork.png" %} width="250"/>

