{% load staticfiles otree_tags %}
{% load staticfiles %}

<p>
This is an experiment to study how individuals and groups make decisions. 
Your earnings in the experiment will depend on your own decisions, the decisions of others, and chance. 
If you follow the instructions carefully, you will earn a reward at the end of the experiment. 
During the experiment, your earnings will be tabulated by <strong>experimental points</strong>. 
At the end of the experiment, the points will be used to determine your final payment.
</p>

<h4>General Instructions:</h4>

<p>
The experiment consists of <strong>24 rounds</strong> in which you and other players independently make the decision on whether to participate as a group.
Examples of participation could include going to a social event (e.g., party), 
team sports (e.g., volleyball, football) or a political event (e.g., march, rally). 
These are events where you are more willing to participate if there are others participating with you.
A specific type of event will not be given in this experiment.
However, you will be given a similar decision to participate in a group or not, and that decision will affect the earnings you receive.
</p>

<p>
At the beginning of each round, you will be assigned to a new group that consists of <strong>5 people total</strong> (including yourself). 
</p>

<p>
Your earnings depend on your decision and the participation decisions of others in your group. 
In each round, each player will be assigned a <strong>threshold, T</strong>. 
This threshold, T, represents the number of other people that you need in order to make it worthwhile for you to participate in the group event (see earnings in a round described below).
</p>

<p>At the end of each round, everyone in your group will be asked to make a decision <strong>to participate</strong> or <strong>not participate</strong> in the event.</p>
<p>Each round is independent from the other: whatever happens in a round does not affect the next round. </p>

<h4>Earnings in a round:</h4>

<p>
Each player will be assigned a threshold either low T=1 or high T=3. 
Your earnings in a round depend on your threshold, your participation decision and the decisions of other players <strong>in your group</strong>. 
Each round is independent from the other: whatever happens in a round does not affect the next round.
</p>

<p> <strong>1. If your threshold is T=1:</strong></p>

<ul>
<li>
If you <strong>participate</strong> and at least <strong>1 other player</strong> participates, 
then your earnings in the round will be <strong>{{session.config.payoff_above_threshold|c}}</strong>.
</li>

<li>
If you <strong>participate</strong> and <strong>no one else</strong> participates, 
then your earnings in the round will be <strong>{{session.config.payoff_below_threshold|c}}</strong>.
</li>

<li>
If you do <strong>not participate</strong>, your earnings in the round will be 
<strong>{{session.config.payoff_no_participate|c}}</strong> regardless of what others do.
</li>
</ul>

<p> <strong>2. If your threshold is T=3:</strong></p>
<ul>
<li>
If you <strong>participate</strong> and at least <strong>3 other players</strong> participate, 
then your earnings in the round will be <strong>{{session.config.payoff_above_threshold|c}}</strong>.
</li>

<li>
If you <strong>participate</strong> and less than <strong>3 other players</strong> participate, 
then your earnings in the round will be <strong>{{session.config.payoff_below_threshold|c}}</strong>.
</li>

<li> 
If you do <strong>not participate</strong>, your earnings in the round will be <strong>{{session.config.payoff_no_participate|c}}</strong> 
regardless of what others do.
</li>
</ul>

<h4>Experimental Earnings:</h4>
<p>  
You will be paid $7.00 for completing all the rounds. 
In addition, after completing all the rounds, we will choose ONE random round to add to your earnings. 
1 experimental point is equivalent to 0.1 US dollars. 
Thus, at the end of the experiment, your total earnings would equal: $7 + $0 = $7.00, $7 + $5.00 = $12.00, or $7 + $10.00 = $17.00 depending on the outcome of the randomly chosen round.
 Because each round is independent from the others and equally likely to be chosen for your payment, you should pay close attention to your decisions in each round.
</p>


<h4>Platform Layout</h4>
{% if session.config.condition_messaging == 'wall' %}
<p>
This is the platform that you will use to play the game. You will use it to observe other players and exchange messages (in the messaging part) 
before you make the final decision to participate for that round. 
Before making your participation decision, you will be given an opportunity to post messages 
on your wall or on your friends' walls to reveal your intention to participate or not in the group event. 
Every player has a 'wall', which is a place where messages can be posted and these messages can be viewed by friends. 
Below is an example of a wall (Rabbit's wall in this case). You will view the posts on your wall and on your friends' walls in the decision part.
</p>
{% endif %}
{% if session.config.condition_messaging == 'bilateral' %}
<p>
This is the platform that you will use to play the game. You will use it to observe other players and exchange messages (in the messaging part) 
before you make the final decision to participate for that round. 
Before making your participation decision, you will be given an opportunity to send messages 
to your friends to reveal your intention to participate or not in the group event. 
Every player can read messages. Each player can only read messages sent to them directly. 
Below is an example of a message window (Rabbit's messages in this case). Everyone will view messages from their friends in the decision part.
</p>
{% endif %}
{% if session.config.condition_messaging == 'none' %}
<p>
This is the platform that you will use to play the game, you will use it to make a decision on whether or not to participate. 
Here, you cannot communicate with your friends, but you can see who you are connected to and see their threshold.
Below is an example of what the platform looks like. Everyone can view the network to which they belong and the friends to whom they are connected.
</p>
{% endif %}

<div style="width:70%; margin: auto; border: 1px solid black;">
<img class="img img-responsive" src="{% static screenImage %}" alt="NO IMAGE!!!!!!!">
</div>

{% comment %}
<h4>Platform Tour</h4>
<p>
We will now introduce you to the platform that you will be using to play the game. 
We will show you an interactive tour of all of the components. 
After the tour, you will have the chance to play trial rounds to become familiar with the platform. 
You can practice for as many rounds as you need before proceeding to the actual experiment.
</p>
{% endcomment %}




<br/>
<p>
Click <strong>Next</strong> to take a quiz on these instructions.
</p>



{% comment %}
<h4>Avatar:</h4>

<p>
In each round, you will be assigned a randomly chosen identity (or avatar). 
The screen below shows an example of the avatar (Turtle) you will see in a round.</p>

<div class="linking-button" style="height: 170px; border: 1px #ddd solid; border-radius: 4px; max-width: 170px">
    <br>
    <img src={% static "avatar/Turtle-icon.png" %} alt="Error: No Avatar Available" style="display: block; border-bottom: black 1px solid; margin: auto; width:90px">
    <p style="text-align: left; font-size: 13pt; margin: 0; margin-top: 5px; margin-left: 15px;">Turtle</p>	        	   
	<p style="text-align: left; font-size: 9pt; margin: 0; margin-top: 0px; margin-left: 15px;"><strong>Your Threshold: 3</strong> </p>
</div>

    <br>



<p>
You will also see your threshold, T=3 in this example above, and the summary of the possible earnings. 
Note that, in each round, everyone will be assigned a new avatar and a new threshold.
</p>


{% if session.config.condition_messaging == 'bilateral'%}
    {% if session.config.condition_network_knowledge == 'global'%}
        {% include "instructions/global_network-bilateral.html" %}
    {% endif %}
    {% if session.config.condition_network_knowledge == 'local'%}
        {% include "instructions/local_network-bilateral.html" %}
    {% endif %}
    {% include "instructions/private-messaging.html" %}
{% endif %}

{% if session.config.condition_messaging == 'wall'%}
    {% if session.config.condition_network_knowledge == 'global'%}
        {% include "instructions/global_network.html" %}
    {% endif %}
    {% if session.config.condition_network_knowledge == 'local'%}
        {% include "instructions/local_network.html" %}
    {% endif %}
    {% include "instructions/wall-messaging.html" %}
{% endif %}
    
{% if session.config.condition_messaging == 'none'%}
    {% if session.config.condition_network_knowledge == 'global'%}
        {% include "instructions/global_network.html" %}
    {% endif %}
    {% if session.config.condition_network_knowledge == 'local'%}
        {% include "instructions/local_network.html" %}
    {% endif %}
    {% include "instructions/no-message.html" %}
{% endif %}

{% endcomment %}