{% load staticfiles otree_tags %}
{% load staticfiles %}

<p>
This is an experiment to study how individuals and groups make decisions. 
Your earnings in the experiment will depend on your own decisions, the decisions of others, and chance. 
During the experiment, you will earn <strong>experimental points</strong>. At the end of the experiment, these points will be converted to cash. 
</p>

<h4>General Instructions:</h4>

<p>
The experiment consists of <strong>15 rounds</strong> in which you and other players independently make the decision on whether to participate in a group event.
Examples could include going to a social or a cultural event (e.g., party, concert), 
playing in team sports (e.g., volleyball, football) or attending a political event (e.g., march, rally). 
These are events where you are more willing to participate if there are others participating with you.
A specific type of event will not be given in this experiment.
However, at the end of each round, every player will be asked to make a decision <strong>to participate</strong> or <strong>not participate</strong>, and that decision will affect the earnings you receive.
</p>

<p>
At the beginning of each round, you will be assigned to a new group that consists of <strong>5 players total</strong> (including yourself).
You will see the list of 5 players in your group on the screen. Your earnings depend on your decision to participate and the participation decision of other players in your group. 
</p>

<h4>Threshold (T):</h4>

<p>
In each round, each player will be assigned a <strong>threshold, T</strong>. 
This threshold, T, represents the number of other players that you need in order to make it worthwhile for you to participate in the group event (see earnings in a round described below).
Each player will be assigned either a low threshold of <strong>T=1</strong> or high threshold of <strong>T=3</strong>.
For example, if your threshold in a round is <strong>T=1</strong>, it means that you need <strong>at least 1 other player</strong> from your group; 
if your threshold is <strong>T=3</strong>, you need <strong>at least 3 other players</strong> from your group to participate in order to make it worthwhile to participate in the group event.
</p>

<h4>Earnings in a round:</h4>

<p> 
Your earnings in a round depend on your threshold, your participation decision and the decisions of other players <strong>in your group</strong>. 
</p>

<p> <strong>(a) If your threshold is T=1:</strong></p>

<ul>
<li>
If you <strong>participate</strong> and at least <strong>1 other player</strong> participates, 
then your earnings in the round will be <strong>{{session.config.payoff_above_threshold|c}}</strong>.
</li>

<li>
If you <strong>participate</strong> and <strong>no one else</strong> participates, 
then your earnings in the round will be <strong>{{session.config.payoff_below_threshold|c}}</strong>.
</li>

<li>
If you do <strong>not participate</strong>, your earnings in the round will be 
<strong>{{session.config.payoff_no_participate|c}}</strong> regardless of what others do.
</li>
</ul>

<p> <strong>(b) If your threshold is T=3:</strong></p>
<ul>
<li>
If you <strong>participate</strong> and at least <strong>3 other players</strong> participate, 
then your earnings in the round will be <strong>{{session.config.payoff_above_threshold|c}}</strong>.
</li>

<li>
If you <strong>participate</strong> and less than <strong>3 other players</strong> participate, 
then your earnings in the round will be <strong>{{session.config.payoff_below_threshold|c}}</strong>.
</li>

<li> 
If you do <strong>not participate</strong>, your earnings in the round will be <strong>{{session.config.payoff_no_participate|c}}</strong> 
regardless of what others do.
</li>
</ul>

<p>
Each round is independent from the other: whatever happens in a round does not affect the next round.
You will not observe the outcome of the rounds during the game until the end of the experiment.
</p>

<h4>Final (Cash) Earnings:</h4>
<p>  
After completing all the rounds, we will choose ONE random round to determine your final earnings. 
<strong>1 experimental point</strong> is equivalent to <strong>0.15 US dollars</strong>. 
Thus, for your decisions, your total earnings could be: <strong>$0, $7.5, or $15.00</strong> depending on the outcome of the randomly chosen round.
Because each round is independent from the others and equally likely to be chosen for your payment, you should pay close attention to your decisions in each round.
</p>


<h4>Platform Layout</h4>
{% if session.config.condition_messaging == 'wall' %}
<p>
This is the platform that you will use to play the game. On this platform, you will see:
<ul>
<li>
<strong>Your Profile:</strong> your avatar (a randomly chose identity), and your threshold for the round.
</li>

<li>
<strong>Your Group:</strong> the list of all 5 players in your group. 
</li>

<li>
<strong>Your Friends:</strong> players in your group that you are connected to. You can see the thresholds of your friends in 'Your Friends' box.
</li>

{% if session.config.condition_network_knowledge == 'local' %}
<li>
<strong>Your Network:</strong> a diagram showing your connections (friends) in the group. There is a gray line between your avatar and each of your friends' avatars. 
</li>
{% else %}
<li>
<strong>The Network:</strong> a diagram showing the connections between all players in your group. The gray line between two avatars means that they are friends.
</li>
{% endif %}

<li>
<strong>The Wall Messaging Tool:</strong> Every player has a 'wall', which is a place where messages can be posted by friends and these messages can be viewed by friends. 
Below is an example of a wall (Rabbit's wall in this case). Each round starts with a <strong>messaging part</strong> followed by a <strong>decision part</strong>. In the messaging part, you will be given an opportunity to post messages 
"I will participate" or "I will not participate" on your wall or on your friends' walls to reveal your intention to participate or not in the group event. 
In the decision part, you will view the posts on your wall and on your friends' walls, and will make your participation decision for the round.
</li>	
</ul>	

</p>
{% endif %}
{% if session.config.condition_messaging == 'bilateral' %}
<p>
This is the platform that you will use to play the game. On this platform, you will see:
<ul>
<li>
<strong>Your Profile:</strong> your avatar (a randomly chosen identity), and your threshold for the round.
</li>

<li>
<strong>Your Group:</strong> the list of all 5 players in your group. 
</li>

<li>
<strong>Your Friends:</strong> players in your group that you are connected to. You can see the thresholds of your friends in 'Your Friends' box.
</li>

{% if session.config.condition_network_knowledge == 'local' %}
<li>
<strong>Your Network:</strong> a diagram showing your connections (friends) in the group. There is a gray line between your avatar and each of your friends' avatars. 
</li>
{% else %}
<li>
<strong>The Network:</strong> a diagram showing the connections between all players in your group. The gray line between two avatars means that they are friends.
</li>
{% endif %}

<li>
<strong>The Private Messaging Tool:</strong> Every player has a 'messaging tool', which is a place to send and receive private messages among friends. 
Below is an example of a messaging tool (Rabbit's in this case). Each round starts with a <strong>messaging part</strong> followed by a <strong>decision part</strong>. In the messaging part, you will be given an opportunity to send private messages 
"I will participate" or "I will not participate" to your friends to reveal your intention to participate or not in the group event. 
In the decision part, you will view the messages sent to you from your friends, and will make your participation decision for the round.
</li>	
</ul>	

</p>
{% endif %}
{% if session.config.condition_messaging == 'none' %}
<p>
This is the platform that you will use to play the game. You will use it to make a decision on whether or not to participate. On this platform, you will see:
<ul>
<li>
<strong>Your Profile:</strong> your avatar (a randomly chose identity), and your threshold for the round.
</li>

<li>
<strong>Your Group:</strong> the list of all 5 players in your group. 
</li>

<li>
<strong>Your Friends:</strong> players in your group that you are connected to. You can see the thresholds of your friends in 'Your Friends' box.
</li>

{% if session.config.condition_network_knowledge == 'local' %}
<li>
<strong>Your Network:</strong> a diagram showing your connections (friends) in the group. There is a gray line between your avatar and each of your friends' avatars. 
</li>
{% else %}
<li>
<strong>The Network:</strong> a diagram showing the connections between all players in your group. The gray line between two avatars means that they are friends.
</li>
{% endif %}
</ul>	

</p>
{% endif %}

<div style="width:70%; margin: auto; border: 1px solid black;">
<img class="img img-responsive" src="{% static screenImage %}" alt="NO IMAGE!!!!!!!">
</div>

{% comment %}
<h4>Platform Tour</h4>
<p>
We will now introduce you to the platform that you will be using to play the game. 
We will show you an interactive tour of all of the components. 
After the tour, you will have the chance to play trial rounds to become familiar with the platform. 
You can practice for as many rounds as you need before proceeding to the actual experiment.
</p>
{% endcomment %}


<br/>
<p>
Click <strong>Next</strong> to take a quiz on these instructions. After the quiz, we will show you an interactive tour of the platform that describes what you can do on the platform.
</p>



{% comment %}
<h4>Avatar:</h4>

<p>
In each round, you will be assigned a randomly chosen identity (or avatar). 
The screen below shows an example of the avatar (Turtle) you will see in a round.</p>

<div class="linking-button" style="height: 170px; border: 1px #ddd solid; border-radius: 4px; max-width: 170px">
    <br>
    <img src={% static "avatar/Turtle-icon.png" %} alt="Error: No Avatar Available" style="display: block; border-bottom: black 1px solid; margin: auto; width:90px">
    <p style="text-align: left; font-size: 13pt; margin: 0; margin-top: 5px; margin-left: 15px;">Turtle</p>	        	   
	<p style="text-align: left; font-size: 9pt; margin: 0; margin-top: 0px; margin-left: 15px;"><strong>Your Threshold: 3</strong> </p>
</div>

    <br>



<p>
You will also see your threshold, T=3 in this example above, and the summary of the possible earnings. 
Note that, in each round, everyone will be assigned a new avatar and a new threshold.
</p>


{% if session.config.condition_messaging == 'bilateral'%}
    {% if session.config.condition_network_knowledge == 'global'%}
        {% include "instructions/global_network-bilateral.html" %}
    {% endif %}
    {% if session.config.condition_network_knowledge == 'local'%}
        {% include "instructions/local_network-bilateral.html" %}
    {% endif %}
    {% include "instructions/private-messaging.html" %}
{% endif %}

{% if session.config.condition_messaging == 'wall'%}
    {% if session.config.condition_network_knowledge == 'global'%}
        {% include "instructions/global_network.html" %}
    {% endif %}
    {% if session.config.condition_network_knowledge == 'local'%}
        {% include "instructions/local_network.html" %}
    {% endif %}
    {% include "instructions/wall-messaging.html" %}
{% endif %}
    
{% if session.config.condition_messaging == 'none'%}
    {% if session.config.condition_network_knowledge == 'global'%}
        {% include "instructions/global_network.html" %}
    {% endif %}
    {% if session.config.condition_network_knowledge == 'local'%}
        {% include "instructions/local_network.html" %}
    {% endif %}
    {% include "instructions/no-message.html" %}
{% endif %}

{% endcomment %}
