{% load staticfiles otree %}
{% load staticfiles %}

<h4>Welcome!</h4>

<p>
This is an experiment to study how individuals and groups make decisions. 
Your earnings in the experiment will depend on your own decisions, the decisions of others, and chance. 
If you follow the instructions carefully, you will earn a reward at the end of the experiment. 
During the experiment, your earnings will be accounted by <strong>experimental points</strong>. 
At the end of the experiment, the points will be used to determine your final payment.
</p>

<h4>General Instructions:</h4>

<p>
The experiment consists of you and other people independently making the decision on whether to participate 
in a group event such as a social event (e.g., party), team sports (e.g., volleyball, football) or a political 
event (e.g., march, rally). Everyone, including you, will be asked to make a decision to <strong>participate</strong> 
or <strong>not participate</strong> in the event. 
Your earnings depend on your decision and the participation decisions of others.
</p>

<p>
There are <strong>48 rounds</strong> in which you will make this decision. 
Each round is independent from the other: whatever happens in a round does not affect the next round.
</p>

<h4>Threshold (T):</h4>

<p>
At the beginning of each round, you will be assigned to a new group that consists of <strong>5 people 
total (including yourself)</strong>. Each player, including you, will be assigned a <strong>threshold, T</strong>. 
This threshold, T, represents the number of other people that you need in order to make it worthwhile for you to 
participate in the group event (see earnings in a round described below). 
Each player will be assigned a threshold either low T=1 or high T=3. For example, if your threshold in a round is <strong>T=1</strong>, 
it means that you need at least <strong>1 other person</strong> in order to make it worthwhile to participate in the group event. 
Likewise, if the threshold assigned to you in a round is <strong>T=3</strong>, it means that you need at least <strong>3 other people</strong> 
to participate in the event.
</p>

<p> <strong>Earnings in a round:</strong>

<p>Your earnings in a round depend on <span style="text-decoration: underline;">your threshold</span>, <span style="text-decoration: underline;">your participation decision</span> and <span style="text-decoration: underline;">the decisions of other players:</span></p>

<p> <strong>*If your threshold is T=1:</strong></p>

<p>
If you <strong>participate</strong> and at least <strong>1 other player</strong> participates, 
then your earnings in the round will be <strong>{{session.config.payoff_above_threshold|c}}</strong>.
</p>

<p>
If you <strong>participate</strong> and <strong>no one else</strong> participates, 
then your earnings in the round will be <strong>{{session.config.payoff_below_threshold|c}}</strong>.
</p>

<p>
If you do <strong>not participate</strong>, your earnings in the round will be 
<strong>{{session.config.payoff_no_participate|c}}</strong> regardless of what others do.
</p>


<p> <strong>*If your threshold is T=3:</strong></p>

<p>
If you <strong>participate</strong> and at least <strong>3 other players</strong> participate, 
then your earnings in the round will be <strong>{{session.config.payoff_above_threshold|c}}</strong>.
</p>

<p>
If you <strong>participate</strong> and less than <strong>3 other players</strong> participate, 
then your earnings in the round will be <strong>{{session.config.payoff_below_threshold|c}}</strong>.
</p>

<p> 
If you do <strong>not participate</strong>, your earnings in the round will be <strong>{{session.config.payoff_no_participate|c}}</strong> 
regardless of what others do.
</p>


<p> 
<strong>Experimental Earnings:</strong> 
You will be paid $3.00 for completing all the rounds.
In addition, after completing all the rounds, we will choose ONE random round to add to your earnings.
1 experimental point is equivalent to 0.03 US dollars. 
Thus, at the end of the experiment, your <strong>total earnings</strong> would equal:
$3 + $0 = <strong>$3.00</strong>,
$3 + $1.50 = <strong>$4.50</strong>, 
or $3 + $3 = <strong>$6.00</strong> 
depending on the outcome of the randomly chosen round.
</p>


<h4>Avatar:</h4>

<p>
In each round, you will be assigned a randomly chosen identity (or avatar). 
The screen below shows an example of the avatar (Turtle) you will see in a round.</p>

<div class="linking-button" style="height: 170px; border: 1px #ddd solid; border-radius: 4px; max-width: 170px">
    <br>
    <img src={% static "avatar/Turtle-icon.png" %} alt="Error: No Avatar Available" style="display: block; border-bottom: black 1px solid; margin: auto; width:90px">
    <p style="text-align: left; font-size: 13pt; margin: 0; margin-top: 5px; margin-left: 15px;">Turtle</p>	        	   
	<p style="text-align: left; font-size: 9pt; margin: 0; margin-top: 0px; margin-left: 15px;"><strong>Your Threshold: 3</strong> </p>
</div>

    <br>



<p>
You will also see your threshold, T=3 in this example above, and the summary of the possible earnings. 
Note that, in each round, everyone will be assigned a new avatar and a new threshold.
</p>


{% comment %}
DOES NOT INCLUDE BOTH CONDITION!
{% endcomment %}

{% if session.config.condition_messaging == 'bilateral'%}
    {% if session.config.condition_network_knowledge == 'global'%}
        {% include "instructions/global_network-bilateral.html" %}
    {% endif %}
    {% if session.config.condition_network_knowledge == 'local'%}
        {% include "instructions/local_network-bilateral.html" %}
    {% endif %}
    {% include "instructions/private-messaging.html" %}
{% endif %}

{% if session.config.condition_messaging == 'wall'%}
    {% if session.config.condition_network_knowledge == 'global'%}
        {% include "instructions/global_network.html" %}
    {% endif %}
    {% if session.config.condition_network_knowledge == 'local'%}
        {% include "instructions/local_network.html" %}
    {% endif %}
    {% include "instructions/wall-messaging.html" %}
{% endif %}
    
{% if session.config.condition_messaging == 'none'%}
    {% if session.config.condition_network_knowledge == 'global'%}
        {% include "instructions/global_network.html" %}
    {% endif %}
    {% if session.config.condition_network_knowledge == 'local'%}
        {% include "instructions/local_network.html" %}
    {% endif %}
    {% include "instructions/no-message.html" %}
{% endif %}

