{% load staticfiles otree %}
{% load staticfiles %}

{% block message %}}
<h4>Participation Decision:</h4>

    <p>
	As mentioned above, your earnings depend on your decision to participate and others’ decisions to participate. 
	The screen below shows the decision making area. 
	Each player in the group must decide whether to participate or not participate in the group event for this round. 
	After making your participation decision for the round, a new round will start.
    </p>

    <p> 
	After you play all the rounds, at the end of the experiment, we will choose a random round and you will be paid based on the results of that round. 
	Because each round has the same chance of being chosen for payment, you should pay careful attention to each round.
    </p>
    <br>


    <img src={% static "instructions/participation.png" %} width="200"/>
{% endblock %}    
    
    <h4>Summary of the Instructions:</h4>

<p>- There are 48 rounds in the experiment.</p>

<p>- Each round is independent from the other: whatever happens in a round does not affect the next round.</p>

<p>- In each round, you will assigned to a different group of 5 people (including you).</p>

<p>- In each round, you will be assigned a new avatar and a new threshold.</p>

<p>- Your earnings in a round depend on your threshold, your participation decision and the decisions of others in your group.</p>

<p>- In each round,you must make your participation decision for the round. Once you submit your decision, a new round will start.</p>

<p>- You will be paid for ONE randomly chosen round. You should pay careful attention to each round.</p>

