

<li>There are <strong>15 rounds</strong> in the experiment.</li>

<li>Each round is independent from the other: whatever happens in a round does not affect the next round.</li>

<li>In each round, you will play in a <strong>group of 5 players (including you)</strong>.</li>

<li>In each round, every player will be assigned <strong>a new avatar</strong> and <strong>a new threshold</strong>.</li>

<li>Your earnings in a round depend on your threshold, your participation decision, and the decisions of others in your group.</li>

<li>In each round, you must make your participation decision for the round. Once you submit your decision, a new round will start. You will not observe the outcome of the rounds.</li>

<li>You will be paid for <strong>ONE randomly chosen</strong> round. You should pay careful attention to each round.</li>

