{% load staticfiles otree_tags %}
{% load staticfiles %}

{% block message %}
<h4>Messaging:</h4>

	<p>
		As mentioned above, your earnings depend on your decision to participate and others’ decisions to participate. 
		Before making the participation decision, each player will be given an opportunity to send messages to friends to reveal his/her intention to participate or not in the group event.
	</p>

	<p>
		You have the following two messaging options to send to each one of your friends: 
		1)"I will participate", 
		2)"I will not participate". 
		Each player can send a message only to his/her own friends. 
		You can send a message to each friend individually or to all of your friends.
	</p>

	<p>
		Once you choose a friend and a message, click "Send Message" to send it. 
		You will receive a confirmation each time you send a message to a friend.
	</p>

	<p>
		You will view the messages sent to you by your friends in the decision part. 
		No one can see other players’ messages. Once you are done with sending messages, you can click "Next" to proceed to the decision part. 
		Make sure that you send all of the messages you want before clicking "Next" as you will proceed to the decision part and cannot get back to the messaging part.
	</p>

	<p>
		In order to proceed to the decision part, everyone in the group must make their messaging decision and click the "Next" button shown in the figure below.
	</p>

    <img src={% static "instructions/private-messaging.png" %} width="500"/>

<h4>Participation Decision:</h4>

    <p>
	The screen below shows the decision making area. 
	In this part, each player can observe the messages sent to him/her. 
	Each person in the group then must decide whether to participate or not participate in the group event for this round. 
	After making your participation decision for the round, a new round will start.
    </p>

    <p> 
	After you play all the rounds, at the end of the experiment, we will choose a random round and you will be paid based on the results of that round. 
	Because each round has the same chance of being chosen for payment, you should pay careful attention to each round.
    </p>
    <br>


    <img src={% static "instructions/participation.png" %} width="200"/>
{% endblock%}
    
<h4>Summary of the Instructions:</h4>

<p>- There are 48 rounds in the experiment.</p>

<p>- Each round is independent from the other: whatever happens in a round does not affect the next round.</p>

<p>- In each round, you will play in a group of 5 people (including you).</p>

<p>- In each round, you will be assigned a new avatar and a new threshold.</p>

<p>- Your earnings in a round depend on your threshold, your participation decision and the decisions of others in your group.</p>

<p>- You may send individual messages to each of your friends to reveal your intention to participate or not, and your friends can do the same.</p>

<p>- In the decision part, you can view the messages sent to you by your friends, and you must make your participation decision for the round. Once you submit your decision, a new round will start.</p>

<p>- You will be paid for ONE randomly chosen round. You should pay careful attention to each round.</p>

