{% extends "welcome_consent/WelcomePage.html" %}
{% load staticfiles otree %}

{% block title %}
    Instructions Quiz
{% endblock %}

{% block contentH3 %}
{% endblock %}

{% block contentH5 %}
We will now conduct a quiz to test your understanding of the game.
Please try to answer the questions on the next page as best as you can.
You will be given multiple opportunities to answer the questions and you will be given immediate feedback.
{% endblock %}

{% block contentP %}
Please click <strong>Next</strong> to go to take the quiz.
{% endblock %}

{% block onpage %}quiz{% endblock %}