{% load staticfiles otree %}

<p>
This short quiz will test your understanding of the instructions. 
Each question addresses a different situation for fictional players. 
Therefore, treat each question separately. 
Once you submit your answer, you can view the correct answer and the explanation. 
Please submit answers to all of the questions before proceeding! 
</p>
<br>

<h3>Part A.</h3>
<p>
<strong>Question A1.</strong> Suppose player Cat has a threshold <strong>T=3</strong> in a round. 
If Cat chooses <strong>participate</strong> and <strong>2 other players</strong> choose <strong>participate</strong>, Cat earns 100 points in that round.
</p>

<div class="row">
    <div class="col-sm-12">
        <div class="form-group required">
            <div class="controls  field-qa1 tf">
                <ul>
	               <li>
	                   <label for="id_qa1_1"><input type="radio" id="id_qa1_1" value="True" name="qa1" required> 
	                   <span style="display: inline-block; width: 3em;">True</span>
	                   <div class="question-message">
	                       <span class="glyphicon glyphicon-remove"></span>
                           <span class="question-explain">Player Cat needs at least three other players to participate in order to earn 100 points.</span>
                       </div>
	                   </label>               
	               </li>
                   <li>
                       <label for="id_qa1_2">
                          <input type="radio" class="ok" id="id_qa1_2" value="False" name="qa1" required> 
                          <span style="display: inline-block; width: 3em;">False</span>
                          <div class="question-message">
                          <span class="glyphicon glyphicon-ok"></span>
                          <span class="question-explain">Player Cat needs at least three other players to participate in order to earn 100 points.</span>
                          </div>                       
                       </label>
                   </li>
                </ul>
            </div><!--- .controls -->
        </div><!--- .form-group -->
    </div>
</div>



   
<br>
<p>
<strong>Question A2.</strong>
Suppose Tiger has a threshold <strong>T=3</strong> in a round. If Tiger chooses <strong>not participate</strong>, her earnings are 0 points in that round. 
</p>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group required">
            <div class="controls  field-qa2 tf">
                <ul>
	               <li>
	                   <label for="id_qa2_1"><input type="radio" id="id_qa2_1" value="True" name="qa2" required> 
	                   <span style="display: inline-block; width: 3em;">True</span>
	                   <div class="question-message">
	                   <span class="glyphicon glyphicon-remove"></span>
                       <span class="question-explain">If Tiger participates, she earns 50 points regardless of what other players do.</span>
                       </div>
	                   </label>               
	               </li>
                   <li>
                       <label for="id_qa2_2">
                          <input type="radio" class="ok" id="id_qa2_2" value="False" name="qa2" required> 
                          <span style="display: inline-block; width: 3em;">False</span>
                          <div class="question-message">
                          <span class="glyphicon glyphicon-ok"></span>
                          <span class="question-explain">If Tiger participates, she earns 50 points regardless of what other players do.</span>
                          </div>
                       </label>
                   </li>
                </ul>
            </div><!--- .controls -->
        </div><!--- .form-group -->
    </div>
</div>
 
<br>
<p>
<strong>Question A3.</strong>
Suppose Elephant has a threshold <strong>T=1</strong> in a round, her earning for choosing <strong>participate</strong> is always 
equal to 100 points in that round.
</p>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group required">
            <div class="controls  field-qa3 tf">
                <ul>
	               <li>
	                   <label for="id_qa3_1"><input type="radio" id="id_qa3_1" value="True" name="qa3" required> 
	                   <span style="display: inline-block; width: 3em;">True</span>
	                   <div class="question-message">
	                   <span class="glyphicon glyphicon-remove"></span>
                       <span class="question-explain">Elephant’s earning for choosing participate is 100 points if at least 1 other player participates.</span>
                       </div>
	                   </label>               
	               </li>
                   <li>
                       <label for="id_qa3_2">
                          <input type="radio" class="ok" id="id_qa3_2" value="False" name="qa3" required> 
                          <span style="display: inline-block; width: 3em;">False</span>
                          <div class="question-message">
                          <span class="glyphicon glyphicon-ok"></span>
                          <span class="question-explain">Elephant’s earning for choosing participate is 100 points if at least 1 other player participates.</span>
                          </div>
                       </label>
                   </li>
                </ul>
            </div><!--- .controls -->
        </div><!--- .form-group -->
    </div>
</div>
   


<h3 style="margin-top: 40px;">Part B.</h3>
<p>
Each question below addresses a different scenario in a particular round of a game. 
Each circle represents a player in the game. 
In each figure, two circles that are connected with a line mean that they are friends. 
A circle that is not colored means that the player has not yet made a decision in the game. 
A <span style="color: red; font-weight: bold;">red</span> circle means that the player has chosen <span style="color: red; font-weight: bold;">not participate</span> in that round. 
A <span style="color: green; font-weight: bold;">green</span> circle means that the player has chosen <span style="color: green; font-weight: bold;">participate</span> in that round.
</p>

<p style="margin-top: 30px;">
<strong>Question B1.</strong>
Suppose there are <strong>3 players</strong> in the game, as shown in the figure below. 
Everyone’s threshold is <strong>T=1</strong>. 
Each player’s choices for the round are shown by colors for three different scenarios in the figure below.
</p>

<div class="row">
<div class="col-sm-4">
<h4>Scenario A</h4>
<img style="max-height: 250px" class="img img-responsive" src={% static "instructions/qb1a.png" %} alt="">
<div class="form-group required">
    <label class="control-label" for="id_qb1a">Duck's earnings are:</label>
    <div class="controls  field-qb1a">
        <select name="qb1a" required id="id_qb1a" class="form-control" style="display: inline-block">
	       <option value="">---------</option>
	       <option class="ok" value="100 points">100 points</option>
	       <option value="50 points">50 points</option>
	       <option value="0 points">0 points</option>
        </select>
        <span style="padding-left: 5px; display: inline-block;" class="question-icon glyphicon glyphicon-ok"></span>
    </div><!--- .controls -->
</div><!--- .form-group -->

<div class="col-sm-10 question-message thin-text qb1a"> 
    <span class="question-explain ">Duck has chosen participate and 2 other players have chosen participate. Therefore, Duck earns the maximum payment of 100 points.</span>
</div>
</div>


<div style = "border-left: 1px solid gray; border-right: 1px solid gray;" class="col-sm-4">
<h4>Scenario B</h4>
<img style="max-height: 250px" class="img img-responsive" src={% static "instructions/qb1b.png" %} alt="">
<div class="form-group required">
    <label class="control-label" for="id_qb1b">Duck's earnings are:</label>
    <div class="controls  field-qb1b">
        <select name="qb1b" required id="id_qb1b" class="form-control" style="display: inline-block">
	       <option value="">---------</option>
	       <option class="ok" value="100 points">100 points</option>
	       <option value="50 points">50 points</option>
	       <option value="0 points">0 points</option>
        </select>
        <span style="padding-left: 5px; display: inline-block;" class="question-icon glyphicon glyphicon-ok"></span>
    </div><!--- .controls -->
</div><!--- .form-group -->

<div class="col-sm-10 question-message thin-text qb1b"> 
    <span class="question-explain ">Duck has chosen participate and 1 other player has chosen participate. Therefore, Duck earns the maximum payment of 100 points.</span>
</div>
</div>


<div class="col-sm-4">
<h4>Scenario C</h4>
<img style="max-height: 250px" class="img img-responsive" src={% static "instructions/qb1c.png" %} alt="">
<div class="form-group required">
    <label class="control-label" for="id_qb1c">Duck's earnings are:</label>
    <div class="controls  field-qb1c">
        <select name="qb1c" required id="id_qb1c" class="form-control" style="display: inline-block">
	       <option value="">---------</option>
	       <option value="100 points">100 points</option>
	       <option value="50 points">50 points</option>
	       <option class="ok" value="0 points">0 points</option>
        </select>
        <span style="padding-left: 5px; display: inline-block;" class="question-icon glyphicon glyphicon-ok"></span>
    </div><!--- .controls -->
</div><!--- .form-group -->

<div class="col-sm-10 question-message thin-text qb1c"> 
    <span class="question-explain">Duck has chosen participate but no one else has chosen participate. Therefore, he earns the smallest payment of 0 points.</span>
</div>
</div>
</div>





<p style="margin-top: 30px;">
<strong>Question B2.</strong>
Suppose there are <strong>3 players</strong> in the game, as shown in the figure below. 
Everyone’s threshold is <strong>T=1</strong>. 
Player’s choices for the round are shown by colors in the figure below (Bull and Chicken have 
chosen <span style="color: green; font-weight: bold;">participate</span>, Eagle has chosen <span style="color: red; font-weight: bold;">not participate</span>).
</p>

<div class="row">
<div class="col-sm-4">
<img class="img img-responsive" src={% static "instructions/qb2.png" %} alt="">
</div>
<div class="col-sm-8">

<div class="row in-line-select">
<div class="form-group required" >
    <label class="control-label" for="id_qb2a">Bull's earnings are:</label>
    <div class="controls  field-qb2a">
        <div class="col-sm-4" style="display: inline-block; min-width: 205px;">
        <select name="qb2a" required id="id_qb2a" class="form-control" style="display: inline-block">
	       <option value="">---------</option>
	       <option class="ok" value="100 points">100 points</option>
	       <option value="50 points">50 points</option>
	       <option value="0 points">0 points</option>
        </select>
        <span style="padding-left: 5px; display: inline-block;" class="question-icon glyphicon glyphicon-ok"></span>
        </div>
        <div class="col-sm-8 thin-text question-message qb2a" style="display: inline-block;">
            <span class="question-explain">Bull’s threshold is T=1: He has chosen participate and 1 other player (Chicken) has chosen participate, his earning in this round is 100 points. </span>
        </div>
    </div><!--- .controls -->
</div><!--- .form-group -->
</div>


<div class="row in-line-select">
<div class="form-group required" >
    <label class="control-label" for="id_qb2b">Chicken's earnings are:</label>
    <div class="controls  field-qb2b">
        <div class="col-sm-4" style="display: inline-block; min-width: 205px;">
        <select name="qb2b" required id="id_qb2b" class="form-control" style="display: inline-block">
	       <option value="">---------</option>
	       <option class="ok" value="100 points">100 points</option>
	       <option value="50 points">50 points</option>
	       <option value="0 points">0 points</option>
        </select>
        <span style="padding-left: 5px; display: inline-block;" class="question-icon glyphicon glyphicon-ok"></span>
        </div>
        <div class="col-sm-8 thin-text question-message qb2b" style="display: inline-block;">
            <span class="question-explain">Chicken’s threshold is T=1: She has chosen participate and 1 other player (Bull) has chosen participate, her earning in this round is 100 points.</span>
        </div>
    </div><!--- .controls -->
</div><!--- .form-group -->
</div>


<div class="row in-line-select">
<div class="form-group required" >
    <label class="control-label" for="id_qb2c">Eagle's earnings are:</label>
    <div class="controls  field-qb2c">
        <div class="col-sm-4" style="display: inline-block; min-width: 205px;">
        <select name="qb2c" required id="id_qb2c" class="form-control" style="display: inline-block">
	       <option value="">---------</option>
	       <option value="100 points">100 points</option>
	       <option class="ok" value="50 points">50 points</option>
	       <option value="0 points">0 points</option>
        </select>
        <span style="padding-left: 5px; display: inline-block;" class="question-icon glyphicon glyphicon-ok"></span>
        </div>
        <div class="col-sm-8 thin-text question-message qb2c" style="display: inline-block;">
            <span class="question-explain">Eagle has chosen not participate, she earns 50 points regardless of what other players do.</span>
        </div>
    </div><!--- .controls -->
</div><!--- .form-group -->
</div>


<div class="row in-line-select">
<div class="form-group required">
    <label class="control-label" for="id_qb2d">If Eagle had chosen to participate, her earnings would be:</label>
    <div class="controls  field-qb2d">
        <div class="col-sm-4" style="display: inline-block; min-width: 205px;">
        <select name="qb2d" required id="id_qb2d" class="form-control" style="display: inline-block">
	       <option value="">---------</option>
	       <option class="ok" value="100 points">100 points</option>
	       <option value="50 points">50 points</option>
	       <option value="0 points">0 points</option>
        </select>
        <span style="padding-left: 5px; display: inline-block;" class="question-icon glyphicon glyphicon-ok"></span>
        </div>
        <div class="col-sm-8 thin-text question-message qb2d" style="display: inline-block;">
            <span class="question-explain">Eagle’s threshold is T=1: If Eagle choses participate, she needs at least 1 other player to participate to earn 100 points. Since 2 other players (Chicken and Bull) have chosen participate, she would earn 100 points.</span>
        </div>
    </div><!--- .controls -->
</div><!--- .form-group -->
</div>
</div>
</div>


<p style="margin-top: 30px;">
<strong>Question B3.</strong>
Suppose there are <strong>4 players</strong> in the game, as shown in the figure below. 
Beaver and Fish’s thresholds are <strong>T= 3</strong>; Cat and Giraffe’s thresholds are <strong>T=1</strong>. 
Player’s choices for the round are shown by colors in the figure below (Cat and Giraffe have chosen <span style="color: green; font-weight: bold;">participate</span>, 
Beaver and Fish have chosen <span style="color: red; font-weight: bold;">not participate</span>).
</p>

<div class="row">
<div class="col-sm-5">
<img class="img img-responsive" src={% static "instructions/qb3.png" %} alt="">
</div>
<div class="col-sm-7">

<div class="row in-line-select">
<div class="form-group required">
    <label class="control-label" for="id_qb3a">Cat's earnings are:</label>
    <div class="controls  field-qb3a">
        <div class="col-sm-4" style="display: inline-block; min-width: 205px;">
        <select name="qb3a" required id="id_qb3a" class="form-control" style="display: inline-block">
	       <option value="">---------</option>
	       <option class="ok" value="100 points">100 points</option>
	       <option value="50 points">50 points</option>
	       <option value="0 points">0 points</option>
        </select>
        <span style="padding-left: 5px; display: inline-block;" class="question-icon glyphicon glyphicon-ok"></span>
        </div>
        <div class="col-sm-8 thin-text question-message qb3a" style="display: inline-block; min-width: 205px;">
            <span class="question-explain">Cat’s threshold is T=1: He has chosen participate and 1 other player (Giraffe) has chosen participate, his earning in this round is 100 points.</span>
        </div>
    </div><!--- .controls -->
</div><!--- .form-group -->
</div>


<div class="row in-line-select">
<div class="form-group required ''">
    <label class="control-label" for="id_qb3b">Giraffe's earnings are:</label>
    <div class="controls  field-qb3b">
        <div class="col-sm-4" style="display: inline-block; min-width: 205px;">
        <select name="qb3b" required id="id_qb3b" class="form-control" style="display: inline-block">
	       <option value="">---------</option>
	       <option class="ok" value="100 points">100 points</option>
	       <option value="50 points">50 points</option>
	       <option value="0 points">0 points</option>
        </select>
        <span style="padding-left: 5px; display: inline-block;" class="question-icon glyphicon glyphicon-ok"></span>
        </div>
        <div class="col-sm-8 thin-text question-message qb3b" style="display: inline-block;">
            <span class="question-explain">Giraffe’s threshold is T=1: She has chosen participate and 1 other player (Cat) has chosen participate, her earning in this round is 100 points.</span>
        </div>
    </div><!--- .controls -->
</div><!--- .form-group -->
</div>

<div class="row in-line-select">
<div class="form-group required" >
    <label class="control-label" for="id_qb3c">Beaver's earnings are:</label>
    <div class="controls  field-qb3c">
        <div class="col-sm-4" style="display: inline-block; min-width: 205px;">
        <select name="qb3c" required id="id_qb3c" class="form-control" style="display: inline-block">
	       <option value="">---------</option>
	       <option value="100 points">100 points</option>
	       <option class="ok" value="50 points">50 points</option>
	       <option value="0 points">0 points</option>
        </select>
        <span style="padding-left: 5px; display: inline-block;" class="question-icon glyphicon glyphicon-ok"></span>
        </div>
        <div class="col-sm-8 thin-text question-message qb3c" style="display: inline-block;">
            <span class="question-explain">Beaver has chosen not participate, she earns 50 points regardless of what other players do.</span>
        </div>
    </div><!--- .controls -->
</div><!--- .form-group -->
</div>

<div class="row in-line-select">
<div class="form-group required" >
    <label class="control-label" for="id_qb3d">Fish's earnings are:</label>
    <div class="controls  field-qb3d">
        <div class="col-sm-4" style="display: inline-block; min-width: 205px;">
        <select name="qb3d" required id="id_qb3d" class="form-control" style="display: inline-block">
	       <option value="">---------</option>
	       <option value="100 points">100 points</option>
	       <option class="ok" value="50 points">50 points</option>
	       <option value="0 points">0 points</option>
        </select>
        <span style="padding-left: 5px; display: inline-block;" class="question-icon glyphicon glyphicon-ok"></span>
        </div>
        <div class="col-sm-8 thin-text question-message qb3d" style="display: inline-block;">
            <span class="question-explain">Fish has chosen not participate, she earns 50 points regardless of what other players do.</span>
        </div>
    </div><!--- .controls -->
</div><!--- .form-group -->
</div>

<div class="row in-line-select">
<div class="form-group required ''">
    <label class="control-label" for="id_qb3e">If Beaver had chosen to participate, her earnings would be:</label>
    <div class="controls  field-qb3e">
        <div class="col-sm-4" style="display: inline-block; min-width: 205px;">
        <select name="qb3e" required id="id_qb3e" class="form-control" style="display: inline-block">
	       <option value="">---------</option>
	       <option value="100 points">100 points</option>
	       <option value="50 points">50 points</option>
	       <option class="ok" value="0 points">0 points</option>
        </select>
        <span style="padding-left: 5px; display: inline-block;" class="question-icon glyphicon glyphicon-ok"></span>
        </div>
        <div class="col-sm-8 thin-text question-message qb3e" style="display: inline-block;">
            <span class="question-explain">Beaver’s threshold is T=3: If Beaver choses participate, she needs at least 3 other players to participate to earn 100 points. Since only 2 other players (Giraffe and Cat) have chosen participate, she would earn 0 points.</span>
        </div>
    </div><!--- .controls -->
</div><!--- .form-group -->
</div>

<div class="row in-line-select">
<div class="form-group required ''">
    <label class="control-label" for="id_qb3f">If Beaver and Fish had chosen to participate, their earnings would be:</label>
    <div class="controls  field-qb3f">
        <div class="col-sm-4" style="display: inline-block; min-width: 205px;">
        <select name="qb3f" required id="id_qb3f" class="form-control" style="display: inline-block">
	       <option value="">---------</option>
	       <option class="ok" value="100 points">100 points</option>
	       <option value="50 points">50 points</option>
	       <option value="0 points">0 points</option>
        </select>
        <span style="padding-left: 5px; display: inline-block;" class="question-icon glyphicon glyphicon-ok"></span>
        </div>
        <div class="col-sm-8 thin-text question-message qb3f" style="display: inline-block;">
            <span class="question-explain">Beaver’s threshold is T=3: If Beaver choses participate, she needs at least 3 other players to participate to earn 100 points. Since 3 other players (Giraffe, Cat and Fish) would have chosen participate in this scenario, she would earn 100 points.</span>
        </div>
    </div><!--- .controls -->
</div><!--- .form-group -->
</div>

</div>
</div>