{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instructions Quiz
{% endblock %}

{% block content %}

<div id="quiz">
{% include "instructions/quiz-main.html" %}
</div>

<br>
<p><strong>Click 'Next' to proceed.</strong></p>

    {% next_button %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src={% static "instructions/quiz.js" %} ></script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href={% static "instructions/quiz.css" %}>
{% endblock %}
