{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
Quiz Completed
{% endblock %}

{% block content %}

<h5>
Thank you for completing the quiz. 
We will now move on to a test round on the experiment platform. 
A summary of the instructions is available below.
</h5>

<div class="card" style="border: 0px;">
  <div class="card-block">
    <h4 class="card-title">Summary of Instructions</h4>
    <ul style="font-size: 10pt;">
    {% if session.config.condition_messaging == 'bilateral'%}
    {% include "instructions/private-messaging-summary.html" %}
{% endif %}

{% if session.config.condition_messaging == 'wall'%}
    {% include "instructions/wall-messaging-summary.html" %}
{% endif %}
    
{% if session.config.condition_messaging == 'none'%}
    {% include "instructions/no-message-summary.html" %}
{% endif %}
    </ul>

  </div>
</div>


<p>Please click <strong>Next</strong> when ready to continue.</p>
<br>
{% next_button %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" >
    $('h4').addClass('card-title');
</script>

{% endblock %}