{% load staticfiles otree %}
{% load staticfiles %}

<h4>Posting Messages:</h4>

	<p>
	As mentioned above, your earnings depend on your decision to participate and others’ decisions to participate. 
	Before making your participation decision, you will be given an opportunity to post messages on your wall or on your friends’ walls to reveal your intention to participate or not in the group event.
	</p>

	<p>
	You have the following two messaging options to post on the walls: 1)"I will participate", 2)"I will not participate". 
	Each player can post a message only on his/her own friends’ walls. Posts on a player’s wall can be viewed by all of his/her friends.
	</p>

	<p>
	Once you choose a friend and click on his/her profile picture, you will go to his/her page. 
	Once you choose a message, click "Post Message" to post it on his/her wall. 
	You will receive a confirmation each time you post a message on a friend’s wall.
	</p>

	<p>
	You will view the posts on your wall and on your friends’ walls in the decision part. 
	Once you are done with posting messages, you can click "Next" to proceed to the decision part. 
	Make sure that you post all of the messages you want before clicking "Next" as you will proceed to the decision part and cannot get back to the messaging part.
	</p>

	<p>
	In order to proceed to the decision part, everyone in the group must make their messaging decision and click the "Next" button shown in the figure below.
	</p>

    <img src={% static "instructions/wall-messaging.png" %} width="500"/>

<h4>Participation Decision:</h4>

    <p>
	The screen below shows the decision making area. 
	In this part, each player can observe the messages posted on their own walls and on their friends’ walls. 
	Each person in the group then must decide whether to participate or not participate in the group event for this round. 
	After making your participation decision for the round, a new round will start.
    </p>

    <p> 
	After you play all the rounds, at the end of the experiment, we will choose a random round and you will be paid based on the results of that round. 
	Because each round has the same chance of being chosen for payment, you should pay careful attention to each round. 
    </p>
    <br>


    <img src={% static "instructions/participation.png" %} width="200"/>
    
    
    <h4>Summary of the Instructions:</h4>

<p>- There are 48 rounds in the experiment.</p>

<p>- Each round is independent from the other: whatever happens in a round does not affect the next round.</p>

<p>- In each round, you will assigned to a different group of 5 people (including you).</p>

<p>- In each round, you will be assigned a new avatar and a new threshold.</p>

<p>- Your earnings in a round depend on your threshold, your participation decision and the decisions of others in your group.</p>

<p>- You may post messages to each of your friends’ walls to reveal your intention to participate or not, and your friends can do the same.</p>

<p>- In the decision part, you can view the messages posted on your wall  by your friends, and the messages posted on your friends’ walls. Then you must make your participation decision for the round. Once you submit your decision, a new round will start.</p>

<p>- You will be paid for ONE randomly chosen round. You should pay careful attention to each round.</p>


