    
<li>There are 48 rounds in the experiment.</li>

<li>Each round is independent from the other: whatever happens in a round does not affect the next round.</li>

<li>In each round, you will be assigned to a different group of 5 people (including you).</li>

<li>In each round, you will be assigned a new avatar and a new threshold.</li>

<li>Your earnings in a round depend on your threshold, your participation decision and the decisions of others in your group.</li>

<li>You may post messages to each of your friends’ walls to reveal your intention to participate or not, and your friends can do the same.</li>

<li>In the decision part, you can view the messages posted on your wall by your friends, and the messages posted on your friends' walls. Then you must make your participation decision for the round. Once you submit your decision, a new round will start.</li>

<li>You will be paid for ONE randomly chosen round. You should pay careful attention to each round.</li>


