    .oi-check{
        color: green;    
    }
    
    .oi-x{
        color: red;    
    }
    
    .question-explain{
        font-size: 9pt;
        font-weight: bold;   
    }
    
    .question-message{
        visibility: hidden;
        display: inline-block;   
    }
    
    .question-icon{
        visibility: hidden;    
    }
    
    .thin-text{
        line-height: 1em;
    }
    
    .in-line-select{
        padding-bottom: 20px;
    }
