{% extends "main/Discuss.html" %}
{% load staticfiles otree %}

{% block title %}
    Round {{subsession.round_number}}: Decision Part
{% endblock %}

{% block beginModal %}
{% endblock %}

{% block participate %}

    {% for field in form %}
    
        {% formfield field %}

    {% endfor %}

{% endblock %}


{% block messageTool %}
{% endblock %}


{% block helpSection %}
{% endblock %}

{% block pageScripts %}
    <script type="text/javascript" >
        var output = false;
    </script>
{% endblock %}

{% block checkSubmission %}
<p>Click <strong>Next</strong> to continue.</p>
<br>
<div class="buttons">
    
    {% next_button %}
</div>
{% endblock %}
