{% extends "main/Discuss.html" %}
{% load staticfiles otree %}

{% block title %}
    Round {{subsession.round_number}}: Decision Part
{% endblock %}

{% block participate %}

    {% for field in form %}
    
        {% formfield field %}

    {% endfor %}

{% endblock %}

{% block helpSection %}
    <li class="no-hover nav-item pull-right">
        <a class="nav-link" href="" data-toggle="modal" data-target="#QuizModal">Quiz</a>
    </li>
    <li class="no-hover nav-item pull-right">
        <a class="nav-link" href="" data-toggle="modal" data-target="#InstructionsModal">Instructions</a>
    </li>
{% endblock %}

{% block pageScripts %}
    <script type="text/javascript" >
        var output = false;
    </script>
{% endblock %}