{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Round {{subsession.round_number}}: Message Exchange ({{messageRound}} of {{Constants.num_messaging_rounds}})
{% endblock %}


{% block content %}

<div class="container-fluid">
    <div class="row main" style="border-bottom: 1px solid gray; padding-bottom: 10px;">
        <div class="col-sm-2 col-lg-2" style="min-width: 160px; max-width: 260px; padding:5px;">
        <h4 style="text-align: left; padding-left: 0px">Your Profile:</h4>
            <div id="playerLabel" class="linking-button" style="height: 170px; border: 1px #ddd solid; border-radius: 4px; max-width: 170px">
                <br>
	        	   <img src={% static "avatar/"|add:avatar %} alt="Error: No Avatar Available" style="display: block; border-bottom: black 1px solid; margin: auto; width:90px">
                   <p style="text-align: left; font-size: 13pt; margin: 0; margin-top: 5px; margin-left: 15px">{{player.user_name}}</p>	        	   
	        	   <p style="text-align: left; font-size: 9pt; margin: 0; margin-top: 0px; margin-left: 15px"><strong>Your Threshold: {{player.node.threshold_text}}</strong> </p>
      	    </div>
      	    <h4>Your Friends:</h4>
            <div id="playerList"></div>        
        </div>
        <div class="col-sm-6 col-lg-6" style="padding: 5px;">
        <ul id="main-tabs" class="nav nav-tabs" role="tablist">
        {% with 'wall both' as list %}
            {% if session.config.condition_messaging in list.split %}
  		    <li class="nav-item active">
    			<a class="nav-link active" data-toggle="tab" href="#wall" role="tab">Wall Posts</a>
  			</li>
  			{% endif %}
  		{% endwith %}
  		{% if session.config.condition_messaging == 'bilateral' %}
  			<li class="nav-item active">
    			<a class="nav-link" data-toggle="tab" href="#messenger" role="tab">Private Messages</a>
  			</li>
		{% endif %}
		{% if session.config.condition_messaging == 'both' %}
  			<li class="nav-item">
    			<a class="nav-link" data-toggle="tab" href="#messenger" role="tab">Private Messages</a>
  			</li>
		{% endif %}

		</ul>

		<!-- Tab panes -->
		<div class="tab-content"  style="position: relative; margin-top: 5px; min-height: 550px; padding: 10px; background-color: #f5f5f5">
            <div class="tab-pane active" id="wall" role="tabpanel"></div>
      		<div class="tab-pane" id="messenger" role="tabpanel"></div>
		</div>
        </div>
        
                <div class="col-sm-4 col-lg-4" style="padding:5px;">
            <h4>{{networkDisplay}} Network:</h4>
            <div id="mynetwork" style="height: 300px; width: 100%; border-left: 1px solid #ddd;"></div>
        </div>
    </div>
</div>

<div class="row">
    <p style="text-align: left; font-size: 10pt; margin: 0; margin-left: 20px; padding: 0px;">What you can earn playing this game:</p>
    <p style="text-align: left; font-size: 10pt; margin: 0; margin-left: 20px; padding: 0px;">If you do not participate: <strong>{{session.config.payoff_no_participate | c}}</strong> </p>
	<p style="text-align: left; font-size: 10pt; margin: 0; margin-left: 20px;">If you participate and at least {{player.threshold}} more <strong>do not</strong> participate: <strong>{{session.config.payoff_below_threshold | c}}</strong> </p>
	<p style="text-align: left; font-size: 10pt; margin: 0; margin-left: 20px;">If you participate and at least {{player.threshold}} more participate: <strong>{{session.config.payoff_above_threshold | c}}</strong> </p>
</div>
<br>
<p><strong>Click 'Next' to proceed to the next round.</strong></p>
<br>
<div class="buttons">
    <a class="btn btn-large btn-primary" href="javascript:void(0);" onclick="startIntro();">Help</a>
    {% next_button %}
</div>


{% endblock %}

{% block scripts %}
<script type="text/javascript">
var messageList = [];
{% for mId, mValue in messages.items %}
	messageList.push('{{mValue}}');
{% endfor %}

var messageRound = {{messageRound}};
var playerId = {{player.id}};
var neighbor_net = {{neighbor_net|safe}};
var neighbors = {{neighbors|safe}};
var thresholds = {{thresholds|safe}};
var userNames = {{user_names|safe}};
var avatars = {{avatars|safe}};
var entries = JSON.parse('{{wall|safe}}');
var privateEntries = JSON.parse('{{privateMessages|safe}}');
var network_nodes = JSON.parse('{{nodes|escapejs}}');
var network_edges = JSON.parse('{{edges|safe}}');

</script>

<script type="text/javascript" src={% static "global/jquery-ui.min.js" %}></script>
<script type="text/javascript" src={% static "global/player_list.js" %}></script>
<script type="text/javascript" src={% static "global/wall.js" %}></script>
<script type="text/javascript" src={% static "global/messenger.js" %}></script>
<script type="text/javascript" src={% static "global/vis.min.js" %}></script>
<script type="text/javascript" src={% static "global/send_message.js" %}></script>
<script type="text/javascript" src={% static "global/chat_channels.js" %}></script>
<script type="text/javascript" src={% static "global/intro.min.js" %}></script>

<script type="text/javascript" >
  var playerProfile = document.getElementById('playerLabel');
  playerProfile.onclick = function() {
    chat.setActiveChannel(playerId);
	wall.changeId(playerId);
	chat.infoChannel.send(JSON.stringify({
	  'type': 'list',
	  'content': {'playerId': playerId},				
	}));
  }

  // create an array with nodes
  var nodes = new vis.DataSet(network_nodes);

  // create an array with edges
  var edges = new vis.DataSet(network_edges);

  // create a network
  var container = document.getElementById('mynetwork');
  var data = {
    nodes: nodes,
    edges: edges
  };
  var options = {
        physics: {
            enabled: true,
        },
  		interaction:{
    	dragNodes:false,
    	dragView: false,
    	hideEdgesOnDrag: false,
    	hideNodesOnDrag: false,
    	hover: true,
    	hoverConnectedEdges: true,
    	keyboard: {
      	enabled: false,
      	speed: {x: 10, y: 10, zoom: 0.02},
      	bindToWindow: true
    	},
    	multiselect: false,
    	navigationButtons: false,
    	selectable: true,
    	selectConnectedEdges: true,
    	tooltipDelay: 300,
    	zoomView: false,
  		},
  		nodes:{
  		    borderWidth: 2,
            color: '#ffffff',
            fixed: false,
            font: '16px arial black',
            font: {
                multi: 'html',
                size: 18,
                align: 'left',
                vadjust: -15,
            },
            scaling: {
                label: true
            },
            shadow: true,
            size: 40,
        },
        edges:{
            width: 6,
        },

	}

  var network = new vis.Network(container, data, options);
  $('a[data-toggle="tab"][href="#network"]').on('shown.bs.tab', function (e) {
    network.fit();  		
  });
  
  network.on("afterDrawing", function (event) {
  	network.fit();
  	network.off("afterDrawing");
  });
  window.onresize = function() {network.fit();}
  
  function startIntro() {
    var intro = introJs()
    intro.addSteps([
      {
        element: document.querySelectorAll('#playerList')[0],
        intro: "Click here to see your friend(s)'s wall and post on it."
      }, 
      {
        element: document.querySelectorAll('#playerLabel')[0],
        intro: "Click here to see your own wall and what your friend(s) posted on there."
      },
      {
        element: document.querySelectorAll('#main-tabs .nav-item')[1],
        intro: "Click here to see the network of friends and who's friends with who.  Lines connecting two players mean that those players are friends."
      },
      {
        element: document.querySelectorAll('#main-tabs .nav-item')[0],
        intro: "Click here to go back to the last wall you were looking at."
      },
      {
        element: document.querySelectorAll('.dropdown-toggle')[0],
        intro: "Click here to choose a message to send..."
      },
      {
        element: document.querySelectorAll('.send-message')[0],
        intro: "...and click here to post that message to the current wall."
      }
    ]);
    intro.start();
  }

{% with 'wall none' as list %}
    {% if session.config.condition_messaging in list.split %}    
        $('.message-icon').hide();
    {% endif %}
{% endwith %}

{% with 'bilateral none' as list %}
    {% if session.config.condition_messaging in list.split %}    
        $('.linking-button').off("click");
        $('.linking-button').each(function () {
            this.onclick = undefined;
            });
    {% endif %}
{% endwith %}

</script>

{% endblock %}

{% block styles %}
<link rel="stylesheet" href={% static "global/jquery-ui.min.css" %}>
<link rel="stylesheet" href={% static "global/wall.css" %}>
<link rel="stylesheet" href={% static "global/messenger.css" %}>
<link rel="stylesheet" href={% static "global/player_list.css" %}>
<link rel="stylesheet" href={% static "global/vis.min.css" %}>
<link rel="stylesheet" href={% static "global/introjs.min.css" %}>


<style type="text/css">

    .container-fluid .main{
        background-color: #ffffff;    
    }

    .page-header {
        padding: 0;    
        margin: 0;
        margin-left: -15px;
        margin-right: -15px;
        border-bottom: 1px solid black;
    }
    
    .page-header h2 {
        padding: 0;
        margin: 10px;
        margin-left: 0px;
    }

    #playerLabel:hover {
        cursor: pointer;
        background-color: #f5f5f5;
    }
    
    .buttons * {
        display: inline-block;
    }
</style>

{% endblock %}