{% extends "welcome_consent/WelcomePage.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Main Rounds
{% endblock %}

{% block contentH3 %}
{% endblock %}

{% block contentH5 %}
You will now start playing the 15 rounds for payment.
You will be playing with real people at the same time. In each round, every player must make a decision for the group to continue.
You will receive a notification when your group is waiting for you. Please make your decisions as quickly as possible.
Remember, one round will be randomly selected to determine your final payment.
{% endblock %}

{% block contentP %}
Please click <strong>Next</strong> to begin.
{% endblock %}

{% block onpage %}payment{% endblock %}
