{% extends "welcome_consent/WelcomePage.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Payment Rounds
{% endblock %}

{% block contentH3 %}
{% endblock %}

{% block contentH5 %}
You will now participate in rounds for payment.
The people in your network are real people playing at the same time as you.
Remember, one round will be randomly selected for issuing payment.
{% endblock %}

{% block contentP %}
Please click <strong>Next</strong> to begin.
{% endblock %}

{% block onpage %}payment{% endblock %}