{% load staticfiles otree_tags %}

<h4 id="network-title">{{networkDisplay}} Network:</h4>
<div id="mynetwork" style="height: 300px; width: 100%; border-left: 1px solid #ddd;"></div>
<div class="row">
    <p style="text-align: left; font-size: 8pt; margin: 0; margin-left: 20px; padding: 0px;"><strong>Possible Earnings:</strong></p>
    <p style="text-align: left; font-size: 8pt; margin: 0; margin-left: 20px; padding: 0px;">If you do not participate:<strong> {{session.config.payoff_no_participate | c}}</strong> </p>
    <p style="text-align: left; font-size: 8pt; margin: 0; margin-left: 20px;">If you participate and at least {{player.threshold}} more <strong>do not</strong> participate: <strong>{{session.config.payoff_below_threshold | c}}</strong> </p>
    <p style="text-align: left; font-size: 8pt; margin: 0; margin-left: 20px;">If you participate and at least {{player.threshold}} more participate: <strong>{{session.config.payoff_above_threshold | c}}</strong> </p>
</div>