{% extends "otree/FormPage.html" %}
{% load staticfiles otree_tags %}

{% comment %}
    this file used to be called Base.html
    If your app's templates contain this line:
    {% extends "global/Base.html" %}
    You should change it to:
    {% extends "global/Page.html" %}
{% endcomment %}

{% block body_main %}
{{block.super}}
<p style="width: 100%; text-align: center;">
&copy 2018&nbsp;&nbsp;|&nbsp;&nbsp;
Developed by: Ethan Vu, Brian J. Goode using <a target="_blank" href="http://www.otree.org/">OTree</a>&nbsp;&nbsp;|&nbsp;&nbsp;
Avatar Credits: <a target="_blank" href="http://www.iconarchive.com/show/square-animal-icons-by-martin-berube.html" >Source</a>
</p>
{% endblock %}

{% block global_styles  %}
{% endblock %}

{% block global_scripts  %}
{% endblock %}
