{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Survey
{% endblock %}

{% block content %}
    {% if session.is_demo %}
        <a href="#" onclick="setVals()">DEMO: Click here to fill vals.</a>
    {% endif %}
    <h4>This survey is designed to collect personal and household information.</h4>

    {% for field in form %}		
        {% formfield field %}
    {% endfor %}
    

    {% next_button %}

{% endblock %}

{% block scripts %}
    <script type="text/javascript">

        {% if session.is_demo %}
        var setVals = function (){
            $(":text").val('X');
           	$('input[type="number"]').val('999');
           	$('input:radio').prop('checked', true);
           	$('select option').prop('selected', true);
        }
        {% endif %}
        
    </script>
{% endblock %}

{% block app_styles %}
    <style type="text/css">
        .col-form-label {
            font-weight: bold;
        }
    </style>
{% endblock %}
