{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block app_styles %}
    <style type="text/css">
        .subquestion label, li label {
            font-weight: normal;
        }
        
        #id_middleInitial {
            max-width: 50px;
        }
    </style>
{% endblock %}

{% block title %}
    Survey
{% endblock %}

{% block content %}
    <!-- The instructions/introductions needs to be updated -->
    <h4>This survey is designed to collect personal and household information.</h4>

    {% for field in form %}
        {% if field.html_name == "country_reside" %}
            <label>What is your current residence?</label>
			<div class="subquestion">
        {% elif field.html_name == "subject_econ" %}
            <label>Have you taken college-level courses in the following subjects?</label>
			<div class="subquestion">
        {% elif field.html_name == "partTime" %}
            <label>What is your employment status?  Please check all that apply.</label>
        {% elif field.html_name == "sports" %}
            <label>How do you spend your free time?  Please check all that apply.</label>
			<div class="subquestion">
        {% elif field.html_name == "residents0to6" %}
            <label>How many of the people living in your residence are in each of the following age categories?</label>
			<div class="subquestion">
        {% elif field.html_name == "activitySchool" %}
            <label>Of the people living in your residence, how many ...</label>
			<div class="subquestion">
        {% endif %}
		
        {% formfield field %}
		
		{% if field.html_name == "city_reside" or field.html_name == "subject_stat" or field.html_name == "otherWork" or field.html_name == "otherFreeTime" or field.html_name == "residents65up" or field.html_name == "activityEvening" %}
			</div>
        {% endif %}
    {% endfor %}
    

    {% next_button %}

{% endblock %}
