{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Survey
{% endblock %}

{% block content %}
    <!-- The instructions/introductions needs to be updated -->
    <h4>Hello.  This survey is designed to obtain some demographic information and traits.  Each question has a “skip” option in case you do not want to answer the question.  To be paid, you must answer at least 14 of the 17 questions.</h4>

    {% for field in form %}
        {% if field.label_tag|striptags == 'Economics:' %}
            <label>Have you taken college-level courses in the following subjects?</label>
        {% endif %}
        {% if field.label_tag|striptags == 'Part-time paid employment outside the home.' %}
            <label>What is your employment status?  Please check all that apply</label>
        {% endif %}
        {% if field.label_tag|striptags == 'Less than equal to 6 years?' %}
            <label>How many of the people living in your residence/home are in each of the following age categories?</label>
        {% endif %}
        {% if field.label_tag|striptags == 'Play on sports team/club, such as for soccer, football, hockey, basketball, baseball.' %}
            <label>How do you spend your free time?  Please check all that apply.</label>
        {% endif %}
        {% if field.label_tag|striptags == 'Attend day care, school, or college?' %}
            <label>Of the people 18 years old or younger living in your residence/home, how many participate in each of the following activities?</label>
        {% endif %}
        {% if field.label_tag|striptags == 'Work outside the home for wages?' %}
            <label>Of the people 19 years old or older living in your residence/home, how many participate in each of the following activities?</label>
        {% endif %}
        {% formfield field %}
    {% endfor %}

    {% next_button %}

{% endblock %}
