{% extends "welcome_consent/WelcomePage.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Survey
{% endblock %}

{% block contentH3 %}
{% endblock %}

{% block contentH5 %}
You will now be asked to complete a short survey.
Please answer the questions on the following pages as accurately as you can.
{% endblock %}

{% block contentP %}
{% endblock %}

{% block onpage %}presurvey{% endblock %}

{% block page_specific %}
    {% if session.is_demo %}
        <a href="#" onclick="setVals()">DEMO: Click here to fill vals.</a>
    {% endif %}
    <h5>
        This survey is designed to collect information about socio-demographics and preferences.  
        Please answer the following questions as accurately as you can. 
        We remind you that the confidentiality of your responses will be protected.
    </h5>
<br>
    <div class="form-group required">
    
    </div>
    <p class="qMarker">1. Birth year</p>
    {% formfield player.q1_birthYear label="" %}    
    
    
    <p class="qMarker">2. Place of Birth</p>
        {% formfield player.q2a_placeOfBirth_country %}
        {% formfield player.q2b_placeOfBirth_state %}
        {% formfield player.q2c_placeOfBirth_city %}
    
{% comment %}
    <p class="qMarker">3. Permanent/home location</p>
    {% formfield player.q3a_permanentHome_country %}
    {% formfield player.q3b_permanentHome_state %}
    {% formfield player.q3c_permanentHome_city %}
{% endcomment %}
    
    {% comment %}
    <p class="qMarker">3. Please write down your ethnic group/ancestry that you identify with. 
    (For example, Arab, Cuban, Dutch, French Canadian, German, Irish, Italian, Mexican, 
    Norwegian, Polish, Puerto Rican, Russian, Scotch-Irish, etc.)
    You can write one or more groups. Please separate with a comma: ",". If you prefer not to answer, please leave blank.
    </p>
    {% formfield player.q4_ethnicity label="" %}    
    
    <p class="qMarker">4. What is your race?  (Choose one or more from the following racial groups)</p>
    {% formfield player.q5a_race_Asian label="Asian" %}
    <p class="qualifier">(A person having origins in any of the original peoples of the Far East, Southeast Asia, or the Indian subcontinent including, for example, Cambodia, China, India, Japan, Korea, Malaysia, Pakistan, the Philippine Islands, Thailand, and Vietnam.)
</p>
    {% formfield player.a5b_race_Black label="Black or African American" %}
    <p class="qualifier">(A person having origins in any of the Black racial groups of Africa – includes Caribbean Islanders and other of African origin.) </p>
    {% formfield player.q5c_race_AmericanIndian label="American Indian or Alaska Native" %}
    <p class="qualifier">(A person having origins in any of the original peoples of North and South America (including Central America), and who maintains a tribal affiliation or community attachment.)</p>
    {% formfield player.q5d_race_NativeHawaiian label="Native Hawaiian or Other Pacific Islander" %}
    <p class="qualifier">(A person having origins in any of the original peoples of Hawaii, Guam, Samoa, or other Pacific Islands.)</p>
    {% formfield player.q5e_race_White label="White" %}
    <p class="qualifier">(A person having origins in any of the original peoples of Europe, the Middle East, or North Africa.)</p>
    {% formfield player.q5h_race_noAnswer label="Prefer not to answer" %}
    {% formfield player.q5f_race_Other label="Other" %}
    <p>If other, please specify:</p>
    {% formfield player.q5g_race_OtherPrint label=""%}

    {% endcomment %}         
            
    <p class="qMarker">3. Sex / Gender</p>
    {% formfield player.q6a_sexGender label="" %}
    <p>If other, please specify:</p>
    {% formfield player.q6b_sexGender_other label="" %}
    
    
    <p class="qMarker">4. Marital status </p>
    {% formfield player.q7_maritalStatus label="" %}
    
    
    <p class="qMarker">5. Education status</p>
    <p class="qualifier">Please indicate the highest degree you have completed.</p>
    <div class="form-group required">
        <div class="controls  field-q8a_education_overview">
            <ul>
               <li><label for="id_q8a_education_overview_4"><input type="radio" id="id_q8a_education_overview_4" value="High School or Equivalent" name="q8a_education_overview" required> High School or Equivalent</label></li>
	           <li>
	           <table summary="" >
               <tr>
                    <td><label for="id_q8a_education_overview_1"><input type="radio" id="id_q8a_education_overview_1" value="Undergraduate Student" name="q8a_education_overview" required> Undergraduate Student</label></td>
                    <td style="padding-left: 20px;">{% formfield player.q8c_education_freshman %}</td>
                    <td style="padding-left: 20px;">{% formfield player.q8d_education_sophomore %}</td>
                    <td style="padding-left: 20px;">{% formfield player.q8e_education_junior %}</td>
                    <td style="padding-left: 20px;">{% formfield player.q8f_education_senior %}</td>
               </tr>
               </table>	               
               </li>
               <li>
	           <table summary="" >
               <tr>
                    <td><label for="id_q8a_education_overview_2"><input type="radio" id="id_q8a_education_overview_2" value="Graduate Student" name="q8a_education_overview" required> Graduate Student</label></td>
                    <td style="padding-left: 20px;">{% formfield player.q8g_education_masters %}</td>
                    <td style="padding-left: 20px;">{% formfield player.q8h_education_phD %}</td>
                    <td style="padding-left: 20px;">{% formfield player.q8i_education_eds %}</td>
                    <td style="padding-left: 20px;">{% formfield player.q8j_education_edd %}</td>
               </tr>
               </table>	               
               </li>
        	   <li></li>
               <li><label for="id_q8a_education_overview_3"><input type="radio" id="id_q8a_education_overview_3" value="Post-graduate Student" name="q8a_education_overview" required> Post-graduate Student</label></li>
               {% comment %}<li><label for="id_q8a_education_overview_5"><input type="radio" id="id_q8a_education_overview_5" value="Faculty" name="q8a_education_overview" required> Faculty</label></li>{% endcomment %}
               <li><label for="id_q8a_education_overview_6"><input type="radio" id="id_q8a_education_overview_6" value="Other" name="q8a_education_overview" required> Other</label></li>
            </ul>
        </div><!--- .controls -->
</div><!--- .form-group -->
    
    <p>If other, please specify:</p>
    {% formfield player.q8b_education_other label=""%}
    
        
    
    
    <p class="qMarker">6. What is your major?</p>
    {% formfield player.q9_major label="" %}
    <p>If other, please specify:</p>
    {% formfield player.q9_majorOther label="" %}     
    
    <p class="qMarker">7. Have you taken college-level courses in the following subjects?</p>
    {% formfield player.q10a_subject_econ label="Economics" %}
    {% formfield player.q10b_subject_finance label="Finance" %}
    {% formfield player.q10c_subject_stat label="Probability or Statistics" %}    
    
    
    <p class="qMarker">8. Do you currently serve or have you ever served in the military? 
    (e.g., ROTC, cadet, or midshipman at a service academy; In the Reserves or National Guard; A discharged veteran)
    </p>
    {% formfield player.q11_military_service label=""%}    
    
    
    <p class="qMarker">9. How much time do you spend during a <strong>typical week</strong> doing the following activities?</p>   
    {{q12Table|safe}}
    <p>If other, please specify:</p>
    {% formfield player.q12o_activities_otherPrint label=""%}

{% endblock %}

{% block scripts %}
    {{block.super}}
    <script type="text/javascript">

        {% if session.is_demo %}
        var setVals = function (){
            $(":text").val('X');
           	$('input[type="number"]').val('999');
           	$('input:radio').prop('checked', true);
           	$('select option').prop('selected', true);
        }
        {% endif %}    
    
            </script>
{% endblock %}

{% block app_styles %}
    <style type="text/css">
        .subquestion label, li label {
            font-weight: normal;
        }
        
        #id_middleInitial {
            max-width: 50px;
        }
        
        #id_otherWork, #id_otherFreeTime {
            margin-top: 10px;
        }

.qualifier{
    font-size: 8pt;
    font-weight: bold;
    padding-left: 20px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.qMarker{
    font-size: 11pt;
    font-weight: bold;
    margin-top: 60px;
}
        
.verticalTableHeader {
    text-align:center;
    white-space:nowrap;
    transform: rotate(-90deg);

}

col{ max-width: 30px;}
table.fixed { table-layout:fixed; }
table.fixed td div{ overflow: hidden;}
table.fixed th div{width: 100%; height: 100%; margin-left: -80px; vertical-align: middle; line-height: 100%;}
table.fixed th{max-width: 10px;}
table.fixed td{max-width: 10px;}
table.fixed td div .btnRadio{  max-width: 10px;}

thead th{
    height: 200px;
}

.no-margin {
    margin: 0;
}

.verticalTableHeader p{
    height: 100%;
    vertical-align: middle;
    line-height: 189px;
    display: inline-block;
    overflow: hidden;
    margin-bottom: -90px;
}

    </style>
{% endblock %}
